@model ResetPasswordViewModel
<h1 class="text-info">Reset Password</h1>
<form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
    <h4>Reset your password</h4>
    <hr />
    <input asp-for="Code" hidden />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>@*.col-md- Medium ( >= 768 px ) md (for desktops)  stands for column medium ≥ 992px spans 2 of 12 columns*@
        <div class="col-md-10">
            <input asp-for="Email" class="form-control-md" /> @*Give textual form controls like <input>s and <textarea>*@
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>@*.col-md- Medium ( >= 768 px ) md (for desktops)  stands for column medium ≥ 992px spans 2 of 12 columns*@
        <div class="col-md-10">
            <input asp-for="Password" class="form-control-md" /> @*Give textual form controls like <input>s and <textarea>*@
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2"></label>@*.col-md- Medium ( >= 768 px ) md (for desktops)  stands for column medium ≥ 992px spans 2 of 12 columns*@
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control-md" /> @*Give textual form controls like <input>s and <textarea>*@
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label></label>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control-md">Reset</button>
        </div>
    </div>
</form>
@*Lägg till validering*@
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}